# Ignore all venv files
.venv/
# Ignore all vscode files
.vscode/
# Ignore pycache
__pycache__/
# Ignore .env file
.env
# Ignore .ppk files
*.ppk
# Ignore .pth files
*.pth
# Ignore data sub-folder
climbing_classifier_data/
climbing_classifier_data_binary/
# Ignore saved models folder
saved_models/
# Ignore wandb logs
wandb/
# Ignore incorrect image archive
incorrect_image_archive/